// {{ generated_by }}
package {{ module|jpackage }};


{% if doc %}
/** {{ doc }} */
{% endif %}
{% if not base -%}
    public interface {{ name }} {
{% else -%}
    public interface {{ name }} extends {{ base|jref }} {
{% endif %}

{% for method in declared_methods %}
    {% if method.doc %}
    /** {{ method.doc|indent(4) }} */
    {% endif %}
    {{ method.result|jref }} {{ method.name }}(
        {%- for arg in method.args -%}
                {{ arg.type|jref }} {{ arg.name }}
                {%- if loop.length > 1 and not loop.last %}, {% endif %}
        {%- endfor %});

{% endfor %}
    static io.pdef.descriptors.InterfaceDescriptor<{{ name }}> DESCRIPTOR = io.pdef.descriptors.InterfaceDescriptor.<{{ name }}>builder()
            .setJavaClass({{ name }}.class)
        {% if exc %}
            .setExc({{ exc.descriptor|jref }})
        {% endif %}
        {% for method in declared_methods %}
            .addMethod(io.pdef.descriptors.MethodDescriptor.<{{ name }}, {{ method.result|jref }}>builder()
                    .setName("{{ method.name }}")
                    .setReflexiveInvoker({{ name }}.class)
                {% if method.result.is_interface %}
                    .setInterfaceResult({{ method.result|jref }}.class)
                {% else %}
                    .setResult({{ method.result|jdescriptor }})
                {% endif %}
                {% if exc %}
                    .setExc({{ exc|jdescriptor }})
                {% endif %}
                {% for arg in method.args %}
                    .addArg("{{ arg.name }}", {{ arg.type|jdescriptor }}, {{ arg.is_query|jbool }}, {{ arg.is_post|jbool }})
                {% endfor %}
                {% if method.is_post %}
                    .setPost(true)
                {% endif %}
                    .build())
        {% endfor %}
            .build();
}

