// {{ generated_by }}
package {{ module|jpackage }};


{% if doc %}
/** {{ doc }} */
{% endif %}
public class {{ name }} extends {{ definition|jbase_class }} {
    {% for field in declared_fields %}
    private {{ field.type|jref }} {{ field.name }};
    {% endfor %}

{% if discriminator_value %}
    public {{ name }}() {
        this.{{ discriminator|jfield_set }}({{ discriminator_value|jref }}
    }
{% else %}
    public {{ name }}() {}
{% endif %}

    public {{ name }}(final {{ name }} another) {
        super(another);
    {% for field in declared_fields %}
        {% if field.type.is_collection or field.type.is_message %}
        this.{{ field.name }} = io.pdef.Values.copy(another.{{ field.name }});
        {% else %}
        this.{{ field.name }} = another.{{ field.name }};
        {% endif %}
    {% endfor %}
    }

    public static {{ name }} fromMap(final java.util.Map<String, Object> map) {
        return io.pdef.formats.ObjectFormat.getInstance().fromObject(map, DESCRIPTOR);
    }

    public static {{ name }} fromJson(final String s) {
        return io.pdef.formats.JsonFormat.getInstance().fromJson(s, DESCRIPTOR);
    }

{% for field in declared_fields %}
    // {{ field.name }}
    public {{ field.type|jref_unboxed }} {{ field|jfield_get }}() {
    {% if field.type.is_collection or field.type.is_message %}
        return {{ field.name }} != null ? {{ field.name }} : ({{ field.name }} = {{ field.type|jdefault }});
    {% else %}
        return {{ field.name }} != null ? {{ field.name }} : {{ field.type|jdefault }};
    {% endif %}
    }

    public {{ name }} {{ field|jfield_set }}(final {{ field.type|jref_unboxed }} value) {
        this.{{ field.name }} = value;
        return this;
    }

    public boolean {{ field|jfield_has }}() {
        return {{ field.name }} != null;
    }

    public {{ name }} {{ field|jfield_clear }}() {
        this.{{ field.name }} = null;
        return this;
    }

{% endfor %}
{% for field in inherited_fields %}
    // {{ field.name }}
    @Override
    public {{ name }} {{ field|jfield_set }}(final {{ field.type|jref_unboxed }} value) {
        super.{{ field|jfield_set }}(value);
        return this;
    }

    @Override
    public {{ name }} {{ field|jfield_clear }}() {
        super.{{ field|jfield_clear }}();
        return this;
    }

{% endfor %}
    @Override
    public {{ name }} copy() {
        return new {{ name }}(this);
    }

    @Override
	public {{ name }} merge(final io.pdef.Message message) {
		super.merge(message);
		if (!(message instanceof {{ name }})) return this;

		{{ name }} another = ({{ name }}) message;
    {% for field in declared_fields %}
        {% if field.type.is_collection or field.type.is_message %}
        if (another.{{ field.name }} != null) this.{{ field.name }} = io.pdef.Values.copy(another.{{ field.name }});
        {% else %}
        if (another.{{ field.name }} != null) this.{{ field.name }} = another.{{ field.name }};
        {% endif %}
    {% endfor %}

        return this;
	}

    @Override
    public io.pdef.descriptors.MessageDescriptor<? extends {{ name }}> descriptor() {
        return DESCRIPTOR;
    }

    public static final io.pdef.descriptors.MessageDescriptor<{{ name }}> DESCRIPTOR = io.pdef.descriptors.MessageDescriptor.<{{ name }}>builder()
            .setJavaClass({{ name }}.class)
            .setProvider(new io.pdef.Provider<{{ name }}>() {
                public {{ name }} get() {
                    return new {{ name }}();
                }
            })
            {% if base %}
            .setBase({{ base|jdescriptor }})
            {% endif %}
            {% if discriminator_value %}
            .setDiscriminatorValue({{ discriminator_value|jref }})
            {% endif %}
            {% for subtype in subtypes %}
            .addSubtype(new io.pdef.Provider<io.pdef.descriptors.MessageDescriptor<? extends {{ name }}>>() {
                public io.pdef.descriptors.MessageDescriptor<? extends {{ name }}> get() {
                    return {{ subtype|jdescriptor }};
                }
            })
            {% endfor %}
            {% for field in declared_fields %}
            .addField(io.pdef.descriptors.FieldDescriptor.<{{ name }}, {{ field.type|jref }}>builder()
                    .setName("{{ field.name }}")
                {% if field.is_discriminator %}
                    .setDiscriminator(true)
                {% endif %}
                {% if field.type.is_primitive %}
                    .setType({{ field.type|jdescriptor }})
                {% else %}
                    .setType(new io.pdef.Provider<io.pdef.descriptors.ValueDescriptor<{{ field.type|jref }}>>() {
                        public io.pdef.descriptors.ValueDescriptor<{{ field.type|jref }}> get() {
                            return {{ field.type|jdescriptor }};
                        }
                    })
                {% endif %}
                    .setAccessor(new io.pdef.descriptors.FieldAccessor<{{ name }}, {{ field.type|jref }}>() {
                        public {{ field.type|jref }} get({{ name }} message) {
                            return message.{{ field.name }};
                        }

                        public void set({{ name }} message, {{ field.type|jref }} value) {
                            message.{{ field.name }} = value;
                        }
                    })
                    .build())
            {% endfor %}
            .build();
}

