class {{ name }}(pdef.Enum):
{% if doc %}
    """{{ doc|indent(4) }}"""

{% endif %}
{% for value in values %}
    {{ value }} = '{{ value }}'
{% endfor %}

    DESCRIPTOR = pdef.descriptors.enum(lambda: {{ name }},
        values=[{% for value in values -%}
            {{ value }}
            {%- if not loop.last %}, {% endif %}
        {%- endfor %}])
