// {{ generated_by }}
#import "{{ name }}.h"


@implementation {{ name }}Enum
static NSDictionary *valuesToNames;
static NSDictionary *namesToValues;

+ (void)initialize {
    if (self != {{ name }}Enum.class) {
        return;
    }

    valuesToNames = @{
    {% for value in definition.values %}
        @({{ loop.index }}) : @"{{ value.name }}",
    {% endfor %}
    };

    namesToValues = @{
    {% for value in definition.values %}
        @"{{ value.name }}" : @({{ loop.index }}),
    {% endfor %}
    };
}

+ (NSDictionary *)valuesToNames {
    return valuesToNames;
}

+ (NSDictionary *)namesToValues {
    return namesToValues;
}
@end
