// {{ generated_by }}

#import "{{ name }}.h"
{% for type0 in definition.referenced_types %}
    {% if type0.is_struct %}
#import "{{ type0|objc_name }}.h"
    {% endif %}
{% endfor %}


@implementation {{ name }}
static NSDictionary *properties;

+ (void)initialize {
    if (self != {{ name }}.class) {
        return;
    }
    
    properties = @{
    {% for field in definition.fields %}
        @"{{ field.name }}" : {{ field.type|objc_reflex }},
    {% endfor %}
    };
}

+ (NSDictionary *)pdef_properties {
    return properties;
}
@end
