# encoding: utf-8
{% if doc %}
"""{{ doc }}"""

{% endif %}
import pdef
from pdef import descriptors
{% if imports %}

{% for import0 in imports %}
import {{ import0 }}
{% endfor %}

{% endif %}

{% for def0 in definitions %}
{{ def0 }}


{% endfor %}

