// {{ generated_by }}
package {{ interface|jpackage }};

import io.pdef.GET;
import io.pdef.POST;


{% if interface.doc %}
/** {{ interface.doc }} */
{% endif %}
public interface {{ name }} {

{% for method in interface.methods %}
{% if method.doc %}
    /** {{ method.doc|indent(4) }} */
{% endif %}
{% if method.is_get %}
    @GET
{% elif method.is_post %}
    @POST
{% endif %}
{% if method.is_request %}
    @io.pdef.Request
{% endif %}
{% if method.args %}
    {{ method.result|jtype }} {{ method.name }}(
    {% for arg in method.args %}
            @io.pdef.Name("{{ arg.name }}") {{ arg.type|jtype }} {{ arg.name }}
            {%- if loop.length > 1 and not loop.last %}, {% else %}); {% endif %}

    {% endfor %}
{% else %}
    {{ method.result|jtype }} {{ method.name }}();
{% endif %}

{% endfor %}
}

