{% if doc %}
/** {{ doc }} */
{% endif %}
public enum {{ name }}
{
{% for value in values %}
    {{ value }}{% if loop.length > 1 and not loop.last %},{% endif %}

{% endfor %}

    public static final TestEnum instance = {{ values[0] }};
    public static final Descriptor descriptor = io.pdef.Descriptors.enum0(instance);
}

